env.py
.DS_Store
.ipynb_checkpoints/
__pycache__
titanic.csv
iris.csv
Excel_Exercises.csv
attendance.csv
cake_recipes.csv
coffee_levels.csv
gapminder1.csv
gapminder2.csv
melted.csv
sales.csv
students.csv
treatments.csv
stores- Stores.csv
Techs- Technicians.csv